<a href="https://colab.research.google.com/github/cvillarr123/trading/blob/master/notebook/AlphaVantage.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install alpha_vantage

Collecting alpha_vantage
  Downloading https://files.pythonhosted.org/packages/ba/b4/d95f9e0eccea6732bab5a079772d453a4f0b68a9f63740d9cf320f92beaa/alpha_vantage-2.3.1-py3-none-any.whl
Collecting aiohttp
  Downloading https://files.pythonhosted.org/packages/88/c0/5890b4c8b04a79b7360e8fe4490feb0bb3ab179743f199f0e6220cebd568/aiohttp-3.7.4.post0-cp37-cp37m-manylinux2014_x86_64.whl (1.3MB)
     |████████████████████████████████| 1.3MB 21.7MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from alpha_vantage) (2.23.0)
Collecting yarl<2.0,>=1.0
  Downloading https://files.pythonhosted.org/packages/f1/62/046834c5fc998c88ab2ef722f5d42122230a632212c8afa76418324f53ff/yarl-1.6.3-cp37-cp37m-manylinux2014_x86_64.whl (294kB)
     |████████████████████████████████| 296kB 54.9MB/s
Collecting async-timeout<4.0,>=3.0
  Downloading https://files.pythonhosted.org/packages/e1/1e/5a4441be21b0726c4464f3f23c8b19628372f606755a9d2e46c187e65ec4/async_timeout-3.0.1-py3-none-any.whl
Requirement already satisfied: typing-extensions>=3.6.5 in /usr/local/lib/python3.7/dist-packages (from aiohttp->alpha_vantage) (3.7.4.3)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->alpha_vantage) (21.2.0)
Requirement already satisfied: chardet<5.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->alpha_vantage) (3.0.4)
Collecting multidict<7.0,>=4.5
  Downloading https://files.pythonhosted.org/packages/7c/a6/4123b8165acbe773d1a8dc8e3f0d1edea16d29f7de018eda769abb56bd30/multidict-5.1.0-cp37-cp37m-manylinux2014_x86_64.whl (142kB)
     |████████████████████████████████| 143kB 52.5MB/s
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->alpha_vantage) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->alpha_vantage) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->alpha_vantage) (2.10)
Installing collected packages: multidict, yarl, async-timeout, aiohttp, alpha-vantage
Successfully installed aiohttp-3.7.4.post0 alpha-vantage-2.3.1 async-timeout-3.0.1 multidict-5.1.0 yarl-1.6.3


**Instala soporte para Pandas**

In [ ]:
pip install alpha_vantage pandas

Requirement already satisfied: alpha_vantage in /usr/local/lib/python3.7/dist-packages (2.3.1)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: aiohttp in /usr/local/lib/python3.7/dist-packages (from alpha_vantage) (3.7.4.post0)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from alpha_vantage) (2.23.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: typing-extensions>=3.6.5 in /usr/local/lib/python3.7/dist-packages (from aiohttp->alpha_vantage) (3.7.4.3)
Requirement already satisfied: yarl<2.0,>=1.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->alpha_vantage) (1.6.3)
Requirement already satisfied: async-timeout<4.0,>=3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->alpha_vantage) (3.0.1)
Requirement already satisfied: chardet<5.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->alpha_vantage) (3.0.4)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp->alpha_vantage) (21.2.0)
Requirement already satisfied: multidict<7.0,>=4.5 in /usr/local/lib/python3.7/dist-packages (from aiohttp->alpha_vantage) (5.1.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->alpha_vantage) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->alpha_vantage) (2021.5.30)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->alpha_vantage) (1.24.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
import matplotlib
import matplotlib.pyplot as plt
import os
# Make plots bigger
matplotlib.rcParams['figure.figsize'] = (20.0, 10.0)

**Ver el precio de intercambio al cierre**

In [ ]:
from alpha_vantage.foreignexchange import ForeignExchange
from pprint import pprint
cc = ForeignExchange(key='1035HSNE5D7XWHLM')
# There is no metadata in this call
data, _ = cc.get_currency_exchange_rate(from_currency='GBP',to_currency='AUD')
pprint(data)

{'1. From_Currency Code': 'GBP',
 '2. From_Currency Name': 'British Pound Sterling',
 '3. To_Currency Code': 'AUD',
 '4. To_Currency Name': 'Australian Dollar',
 '5. Exchange Rate': '1.83463000',
 '6. Last Refreshed': '2021-06-17 04:12:08',
 '7. Time Zone': 'UTC',
 '8. Bid Price': '1.83457800',
 '9. Ask Price': '1.83464500'}

In [ ]:
from alpha_vantage.foreignexchange import ForeignExchange
from pprint import pprint
cc = ForeignExchange(key='1035HSNE5D7XWHLM', output_format='pandas')
# There is no metadata in this call
data, _ = cc.get_currency_exchange_rate(from_currency='GBP',to_currency='AUD')
pprint(data)

                                1. From_Currency Code  ... 9. Ask Price
Realtime Currency Exchange Rate                   GBP  ...   1.83455400

[1 rows x 9 columns]

In [ ]:
data.head()

                                1. From_Currency Code  ... 9. Ask Price
Realtime Currency Exchange Rate                   GBP  ...   1.83455400

[1 rows x 9 columns]

Ver el intraday para el calculo de banderas

In [ ]:
data, _ = cc.get_currency_exchange_intraday('GBP','AUD',interval='15min',outputsize='compact')
pprint(data)

                     1. open  2. high   3. low  4. close
date
2021-06-17 04:45:00  1.83463  1.83530  1.83421   1.83524
2021-06-17 04:30:00  1.83460  1.83493  1.83409   1.83463
2021-06-17 04:15:00  1.83450  1.83490  1.83411   1.83459
2021-06-17 04:00:00  1.83523  1.83551  1.83408   1.83446
2021-06-17 03:45:00  1.83487  1.83584  1.83448   1.83522
...                      ...      ...      ...       ...
2021-06-16 05:00:00  1.83063  1.83079  1.83003   1.83043
2021-06-16 04:45:00  1.83092  1.83102  1.83007   1.83070
2021-06-16 04:30:00  1.83152  1.83159  1.83032   1.83094
2021-06-16 04:15:00  1.83019  1.83173  1.82978   1.83147
2021-06-16 04:00:00  1.83005  1.83038  1.82944   1.83015

[100 rows x 4 columns]

In [ ]:
data.head()

                     1. open  2. high   3. low  4. close
date
2021-06-17 04:45:00  1.83463  1.83530  1.83421   1.83524
2021-06-17 04:30:00  1.83460  1.83493  1.83409   1.83463
2021-06-17 04:15:00  1.83450  1.83490  1.83411   1.83459
2021-06-17 04:00:00  1.83523  1.83551  1.83408   1.83446
2021-06-17 03:45:00  1.83487  1.83584  1.83448   1.83522

In [ ]:
data, _ = cc.get_currency_exchange_daily ('GBP','AUD',outputsize='compact')
pprint(data)

            1. open  2. high   3. low  4. close
date
2021-06-17  1.83713  1.83917  1.82960   1.83525
2021-06-16  1.83176  1.84018  1.82897   1.83708
2021-06-15  1.82847  1.83486  1.82473   1.83159
2021-06-14  1.83066  1.83366  1.82473   1.82860
2021-06-11  1.82802  1.83500  1.82191   1.83077
...             ...      ...      ...       ...
2021-02-04  1.79066  1.80008  1.77880   1.79845
2021-02-03  1.79649  1.79827  1.78837   1.79077
2021-02-02  1.79196  1.80157  1.78747   1.79626
2021-02-01  1.79815  1.80063  1.78849   1.79199
2021-01-29  1.78530  1.79492  1.78314   1.79191

[100 rows x 4 columns]

In [ ]:
data.head()

            1. open  2. high   3. low  4. close
date
2021-06-17  1.83713  1.83917  1.82960   1.83525
2021-06-16  1.83176  1.84018  1.82897   1.83708
2021-06-15  1.82847  1.83486  1.82473   1.83159
2021-06-14  1.83066  1.83366  1.82473   1.82860
2021-06-11  1.82802  1.83500  1.82191   1.83077

In [ ]:
data.count()

1. open     100
2. high     100
3. low      100
4. close    100
dtype: int64

In [ ]:
data, _ = cc.get_currency_exchange_monthly('GBP','AUD',outputsize='compact')
pprint(data)
data.head()

            1. open  2. high   3. low  4. close
date
2021-06-17  1.83636  1.84510  1.81909   1.83455
2021-05-31  1.78958  1.84236  1.78024   1.83614
2021-04-30  1.81441  1.82650  1.77372   1.79078
2021-03-31  1.80520  1.81595  1.78057   1.81402
2021-02-26  1.79815  1.81115  1.76851   1.80721
...             ...      ...      ...       ...
2002-09-30  2.81620  2.90800  2.79250   2.89120
2002-08-30  2.89280  2.96700  2.75020   2.81250
2002-07-31  2.71810  2.93580  2.71320   2.88170
2002-06-28  2.57520  2.72900  2.52460   2.71810
2002-05-31  2.70370  2.73340  2.57110   2.57520

[230 rows x 4 columns]

            1. open  2. high   3. low  4. close
date
2021-06-17  1.83636  1.84510  1.81909   1.83455
2021-05-31  1.78958  1.84236  1.78024   1.83614
2021-04-30  1.81441  1.82650  1.77372   1.79078
2021-03-31  1.80520  1.81595  1.78057   1.81402
2021-02-26  1.79815  1.81115  1.76851   1.80721

In [ ]:
data, _  = cc.get_currency_exchange_monthly('GBP','AUD',outputsize='compact')

In [ ]:
type(data)

pandas.core.frame.DataFrame

In [ ]:
pprint(data)

            1. open  2. high   3. low  4. close
date
2021-06-17  1.83636  1.84510  1.81909   1.83462
2021-05-31  1.78958  1.84236  1.78024   1.83614
2021-04-30  1.81441  1.82650  1.77372   1.79078
2021-03-31  1.80520  1.81595  1.78057   1.81402
2021-02-26  1.79815  1.81115  1.76851   1.80721
...             ...      ...      ...       ...
2002-09-30  2.81620  2.90800  2.79250   2.89120
2002-08-30  2.89280  2.96700  2.75020   2.81250
2002-07-31  2.71810  2.93580  2.71320   2.88170
2002-06-28  2.57520  2.72900  2.52460   2.71810
2002-05-31  2.70370  2.73340  2.57110   2.57520

[230 rows x 4 columns]

In [ ]:
data.head()

            1. open  2. high   3. low  4. close
date
2021-06-17  1.83636  1.84510  1.81909   1.83462
2021-05-31  1.78958  1.84236  1.78024   1.83614
2021-04-30  1.81441  1.82650  1.77372   1.79078
2021-03-31  1.80520  1.81595  1.78057   1.81402
2021-02-26  1.79815  1.81115  1.76851   1.80721

In [ ]:
cc.